

ul li{
	display: inline-block;
	list-style-type: none;
	}
.true {
	padding: 0;
	margin: 0;
	width: 100%;
	background: orange;
	word-spacing: 10px;

}
.none {
	display: none;
}
a{
	text-decoration: none;
	color: red;
}
h1{
	text-align: center;
}
.pic {
	display: block;
	margin: auto;
	height: 40%;
	width: 40%;
}
aside {
	color: white;
	display: block;
	margin: auto;
	height: 40%;
	width: 40%;
}
.link {
	padding: 10px;
	background-color: orange;
	border-radius: 5px;
	text-decoration: none;
	color: red;
	display: block;
	margin: auto;
	height: 40%;
	width: 40%;
	text-align: center;
}
.number {
	margin: 40px auto;
	width: 25%;
}
.number a {
	display: inline-block;
	width: 35px;
	line-height: 35px;
	text-decoration: none;
	color: red;
	text-align: center;
	border: 2px solid orange;
	border-radius: 5px;
}
.main_page {
	background-color: orange;
}
body{
	background-image: url(../pickture/bktbl.jpg);
	margin: 0;
	background-attachment: fixed;
}



